SignalDBClienteServicios/Service References/ServiceReferenceListarTodosLosUsers/ServiceWCF_SignalDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3544/ServiceWCF_SignalDB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Dtos" />
  <xs:element name="InsertarUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q1:usersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="dto" nillable="true" type="q2:usersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="BuscarUsersResult" nillable="true" type="q3:usersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarUsersResult" nillable="true" type="q4:ArrayOfusersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLosUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLosUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.Dtos" minOccurs="0" name="ListarTodosLosUsersResult" nillable="true" type="q5:ArrayOfusersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>