SignalDBClienteServicios/Service References/ServiceReferenceListarTodosLosUsers/ServiceWCF_SignalDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWCF_SignalDB" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3544/ServiceWCF_SignalDB.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3544/ServiceWCF_SignalDB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3544/ServiceWCF_SignalDB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Dtos" />
      <xsd:import schemaLocation="http://localhost:3544/ServiceWCF_SignalDB.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersService_InsertarUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_InsertarUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_ActualizarUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_ActualizarUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EliminarUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EliminarUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_BuscarUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_BuscarUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_ListarUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_ListarUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_ListarTodosLosUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosLosUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_ListarTodosLosUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosLosUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersService">
    <wsdl:operation name="InsertarUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/InsertarUsers" message="tns:IUsersService_InsertarUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/InsertarUsersResponse" message="tns:IUsersService_InsertarUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/ActualizarUsers" message="tns:IUsersService_ActualizarUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/ActualizarUsersResponse" message="tns:IUsersService_ActualizarUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/EliminarUsers" message="tns:IUsersService_EliminarUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/EliminarUsersResponse" message="tns:IUsersService_EliminarUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/BuscarUsers" message="tns:IUsersService_BuscarUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/BuscarUsersResponse" message="tns:IUsersService_BuscarUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/ListarUsers" message="tns:IUsersService_ListarUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/ListarUsersResponse" message="tns:IUsersService_ListarUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosLosUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/ListarTodosLosUsers" message="tns:IUsersService_ListarTodosLosUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/ListarTodosLosUsersResponse" message="tns:IUsersService_ListarTodosLosUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersService" type="tns:IUsersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/InsertarUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/ActualizarUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/EliminarUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/BuscarUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/ListarUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosLosUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/ListarTodosLosUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWCF_SignalDB">
    <wsdl:port name="BasicHttpBinding_IUsersService" binding="tns:BasicHttpBinding_IUsersService">
      <soap:address location="http://localhost:3544/ServiceWCF_SignalDB.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>